/* import scripts styles */
@import "partials/reset.scss";
@import "partials/libs.scss";
@import "partials/fonts.scss";

/* variables colors */
$black: #14141c;
$gray: #5e5e7b;
$gray-light: #e5e5e5;
$silver: #dcdced;
$white: #eaf5ff;
$white-2: #f2f2f2;
$purple: #6f6eff;

/* variables text */
$main-font: "HelveticaNeueCyr";

/* variables properties */
%d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font: 14px/22px $main-font, 'Open Sans', sans-serif;
	font-weight: 500;
	color: $black;
	background: #fff;
}

/*===== header =====*/

.header {

	&__nav {

	}

	&__menu-top {

	}

	&__item {

	}

	&__link {

	}

	&__item-lang {

	}

	&__menu-lang {

	}

	&__link-lang {

	}

	&__menu-bottom {

	}

	&__dropdown {

	}

	&__img-link {

	}
}

.logo {

	&__img {

	}
}

/*===== header =====*/
/*===== header =====*/
/*===== header =====*/
/*===== header =====*/

@import "partials/media.scss";