/* import scripts styles */
@import "partials/reset.scss";
@import "partials/libs.scss";
@import "partials/fonts.scss";

/* variables colors */
// $name-color: #color;

/* variables text */
// $main-font: "name-font";

/* variables properties */
%d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// body {
// 	font: 16px/24px $main-font, 'Open Sans', sans-serif;
// 	font-weight: 500;
// 	color: $000;
// 	background: #fff;
// }