/* import scripts styles */
@import "partials/reset.scss";
@import "partials/libs.scss";
@import "partials/fonts.scss";

/* variables colors */
$black: #14141c;
$gray: #5e5e7b;
$gray-light: #e5e5e5;
$silver: #dcdced;
$white: #eaf5ff;
$white-2: #f2f2f2;
$purple: #6f6eff;

/* variables text */
$main-font: "HelveticaNeueCyr";

/* variables properties */
%d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font: 14px/22px $main-font, 'Open Sans', sans-serif;
	font-weight: 500;
	color: $black;
	background: #fff;
}

/*===== header =====*/

.header {

	&__nav {

	}

	&__menu-top {

	}

	&__item {

	}

	&__link {

	}

	&__item-lang {

	}

	&__menu-lang {

	}

	&__link-lang {

	}

	&__menu-bottom {

	}

	&__dropdown {

	}

	&__img-link {

	}
}

.lang {

	&__icon {

	}

	&__menu {

	}

	&__item {

	}

	&__link {

	}
}

.logo {

	&__img {

	}
}

/*===== main-content =====*/

.about-company {

	&_bg-1 {

	}

	&_bg-2 {

	}

	&_bg-3 {

	}

	&_black {

	}

	&_bg-4 {

	}

	&_bg-5 {

	}

	&_bg-6 {

	}

	&_bg-7 {

	}

	&__btn {

		&_arrow-1 {

		}

		&_arrow-2 {

		}

		&_arrow-3 {

		}

		&_arrow-4 {

		}

		&_arrow-5 {

		}

		&_arrow-6 {

		}

		&_arrow-7 {

		}
	}

	&__img-block {

	}

	&__img {

		&_arrow {

		}

		&_left {

		}

		&_right {

		}
	}
}

.title {

	&_gray {

	}

	&_white {

	}
}

.sub-title {

	&_gray {

	}
}

.text {

	&_white {

	}
}

.btn {

	&_purple {

	}

	&__img {

	}
}

/*===== footer =====*/

.footer {

	&__lang {

	}

	&__menu {

	}

	&__item {

	}

	&__link {

	}

	&__text {

	}

	&__menu-social {

		&_vertical {

		}
	}

	&__item-social {

	}

	&__link-social {

	}

	&__link-img {

	}
}

.copyright {

	&__text {

	}

	&__link {

	}
}

@import "partials/media.scss";