/* import scripts styles */
@import "partials/reset.scss";
@import "partials/libs.scss";
@import "partials/fonts.scss";

/* variables colors */
$black: #14141c;
$gray: #5e5e7b;
$gray-light: #e5e5e5;
$silver: #dcdced;
$white: #eaf5ff;
$white-2: #f2f2f2;
$white-3: #F5F5F5;
$purple: #6f6eff;

/* variables text */
$main-font: 'HelveticaNeueCyr';

/* variables properties */
%d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%mb35 {
	margin-bottom: 35px;
}

%mb90 {
	margin-bottom: 90px;
}

%transition-1 {transition: opacity .1s, color .1s, border .1s, box-shadow .1s, background .1s, filter .1s ease-in-out;}
%transition-2 {transition: opacity .2s, color .2s, border .2s, box-shadow .2s, background .2s, filter .2s ease-in-out;}
%transition-3 {transition: opacity .3s, color .3s, border .3s, box-shadow .3s, background .3s, filter .3s ease-in-out;}

body {
	font: 14px/18px $main-font, 'Open Sans', sans-serif;
	font-weight: 400;
	color: $black;
	background: #fff;
}

/*===== all =====*/

h1 {
	font-size: 48px;
	line-height: 60px;
	font-weight: 600;
}

h2 {
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 1px;
}

.title {

	&_gray {
		color: $gray;
	}

	&_white {
		color: $white-2;
	}
}

.sub-title {
	font-size: 18px;
	line-height: 22px;

	&_gray {
		color: $gray;
	}
}

.text {

	&_white {
		color: $white-2;
	}
}

.btn {

	&_purple {
		position: relative;
		font-size: 18px;
		color: $purple;
		padding-left: 30px;
	}

	&__img {

		&_purple {
			position: absolute;
			top: 50%;
			left: -1px;
			margin-top: -12px;
		}
	}
}

/*===== header =====*/

.header {

	&__nav {
		display: flex;
		flex-direction: column;
	}

	&__top {
		background: $gray;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	&__container {
		display: flex;
		justify-content: flex-end;
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
	}

	&__menu-top {
		display: flex;
		justify-content: center;
		width: 100%;
		padding-top: 36px;
	}

	&__item {
		margin: 0 14px;

		&_drop {
			padding: 20px 0;
			
			&:hover {

				&>.header__link {
					color: $purple;
				}

				.header__dropdown {
					top: 100%;
					opacity: 1;
				}
			}
		}
	}

	&__link {
		color: $white-2;
		@extend %transition-1;

		&_gray {
			color: $gray;
			padding: 20px 0;
		}

		&:hover {
			color: $purple;
		}
	}

	&__bottom {
		position: relative;
		background: $silver;
	}

	&__menu-bottom {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__dropdown {
		display: flex;
		justify-content: center;		
		align-items: stretch;
		position: absolute;
		top: -999px;
		left: 0;
		right: 0;
		width: 100%;
		max-height: 114px;
		padding: 20px 0;
		background: $white-2;
		opacity: 0;
		z-index: 999;
		@extend %transition-3;
	}

	&__item-dropdown {
		display: flex;
		justify-content: center;
		width: 155px;
		margin: 0 30px;
	}

	&__link-dropdown {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		text-align: center;
		line-height: 16px;
		color: $gray;
		filter: grayscale(100%); 
		@extend %transition-2;

		&:hover {
			color: $purple;
			filter: grayscale(0);
		}
	}

	&__img-dropdown {
		margin-bottom: 8px;
	}
}

.logo {
	position: relative;
	display: inline-block;

	&__icon {
		position: absolute;
		top: 50%;
		right: -25px;
		margin-top: -12px;
	}

	&__img {

	}
}

.lang-menu {
	padding-top: 36px;
	flex-shrink: 0;

	&__lang {
		position: relative;
		cursor: default;
		padding-left: 15px;

		&:hover {

			.lang-menu__dropdown {
				top: 100%;
				opacity: 1;
			}
		}
	}

	&__name {
		position: relative;
		padding-right: 15px;
		color: $white-2;
		@extend %transition-1;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -3px;
		background: url(../images/content/icon/lang-arrow.svg) no-repeat center;
		width: 7px;
		height: 7px;
	}

	&__dropdown {
		position: absolute;
		top: -999px;
		left: 10px;
		background: $gray;
		min-height: 78px;
		opacity: 0;
		padding: 25px 15px 0 15px;
		z-index: 999;
		@extend %transition-3;
	}

	&__item {
		
	}

	&__link {
		color: $white-2;
		line-height: 22px;
		@extend %transition-1;

		&:hover {
			color: $purple;
		}
	}
}

/*===== main-content =====*/

.main-screen {
	display: flex;
	text-align: right;
	background: $gray-light url(../images/content/img-1.png) no-repeat bottom left;
	min-height: 860px;
	font-weight: 500;
	padding-top: 160px;

	&__title {
		@extend %mb90;
	}

	&__sub-title {
		@extend %mb90;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__btn {
		
		&::after {
			content: '';
			position: absolute;
			bottom: 5px;
			right: 110%;
			background: url(../images/content/svg/arrow-1.svg) no-repeat center;
			min-width: 371px;
			min-height: 72px;
			cursor: default;
		}
	}
}

.auto-system {
	text-align: right;
	background: url(../images/content/img-2.png) no-repeat bottom 80px center;
	min-height: 1100px;
	padding: 60px 0;

	&__title {
		text-align: center;
		margin-bottom: 5px;
	}

	&__sub-title {
		text-align: center;
		@extend %mb35;
	}

	&__text {
		text-align: left;
		margin: 0 auto;
	}

	&__btn {
		margin-top: 28px;
		font-size: 14px;

		&::after {
			content: '';
			position: absolute;
			bottom: 5px;
			left: 110%;
			background: url(../images/content/svg/arrow-2.svg) no-repeat center;
			min-width: 40px;
			min-height: 146px;
			cursor: default;
		}
	}	
}

.electronic-system {
	min-height: 910px;
	background: #F2F2F8 url(../images/content/img-3.png) no-repeat top 20px left;
	padding: 70px 0;
	text-align: right;

	&__title {
		@extend %mb35;
		text-align: left;
	}

	&__text {
		margin-bottom: 20px;
		text-align: left;
	}

	&__btn {
		margin-top: 40px;
		margin-right: 80px;

		&::after {
			content: '';
			position: absolute;
			bottom: 5px;
			right: 120%;
			background: url(../images/content/svg/arrow-3.svg) no-repeat center;
			min-width: 170px;
			min-height: 67px;
			cursor: default;
		}
	}
}

.tyt-spa {
	background: $black;
	min-height: 720px;
	padding: 40px 0;

	&__title {
		margin-bottom: 40px;
		text-align: center;
	}

	&__img-block {
		margin-bottom: 65px;	
		@extend %d-flex-center;
	}

	&__img {
		margin: 0 46px;

		&_arrow {
			position: relative;

			&::after {
				// content: '';
				position: absolute;
				bottom: 100px;
				right: 50px;
				background: url(../images/content/svg/arrow-white.svg) no-repeat center;
				width: 219px;
				height: 16px;
			}
		}
	}

	&__text {
		margin-bottom: 20px;
		padding-right: 20px;
	}

	&__btn {
		padding: 0;
		margin-top: 70px;

		&::after {
			content: '';
			position: absolute;
			bottom: 130%;
			left: 50%;
			margin-left: -5px;
			background: url(../images/content/svg/arrow-4.svg) no-repeat center;
			min-width: 8px;
			min-height: 97px;
			cursor: default;
		}
	}
}

.mobile-system {
	text-align: center;
	min-height: 980px;
	padding: 70px 0;

	&__img {

	}

	&__title {
		text-align: left;
		margin-top: 100px;
		@extend %mb90;
	}

	&__text {
		text-align: left;
		margin-bottom: 20px;
	}

	&__btn {
		padding-left: 0;
		margin-top: 110px;

		&::after {
			content: '';
			position: absolute;
			bottom: 130%;
			left: 50%;
			margin-left: -5px;
			background: url(../images/content/svg/arrow-4.svg) no-repeat center;
			min-width: 8px;
			min-height: 97px;
			cursor: default;
		}
	}
}

.webinar-system {
	position: relative;

	&__top {
		background: $black;
		padding-top: 70px;
		min-height: 590px;
	}

	&__bottom {
		background: $white-3;
		min-height: 620px;
		text-align: center;
		padding-top: 175px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
	}

	&__btn {
		padding-left: 0;
		margin-left: 40px;

		&::after {
			content: '';
			position: absolute;
			bottom: 110%;
			left: 0;
			background: url(../images/content/svg/content-1.svg) no-repeat center;
			min-width: 162px;
			min-height: 476px;
			cursor: default;
		}
	}

	&__img {
		position: absolute;

		&_left {
			top: 50%;
			left: 0;
			width: 35%;
			margin-top: -15%;
		}

		&_right {
			top: 50%;
			right: 0;
			margin-top: -250px;
		}
	}
}

.site-dream {
	background: $white-3 url(../images/content/img-9.jpg) no-repeat top center;
	min-height: 886px;
	padding-top: 145px;

	&__title {
		@extend %mb90;
	}

	&__text {	
		margin-bottom: 20px;
	}

	&__btn {
		margin-top: 80px;
		margin-left: 200px;
		padding-left: 0;

		&::after {
			content: '';
			position: absolute;
			bottom: 7px;
			right: 110%;
			background: url(../images/content/svg/arrow-5.svg) no-repeat center;
			min-width: 128px;
			min-height: 108px;
			cursor: default;
		}
	}

}

.pay-system {
	background: url(../images/content/img-10.jpg) no-repeat top center;
	background-size: cover;
	min-height: 924px;
	padding-top: 187px;

	&__title {
		@extend %mb35;
		font-size: 34px;
		letter-spacing: 0;
	}

	&__text {
		
	}

	&__btn {
		margin-top: 48px;
		margin-left: 90px;

		&::after {
			content: '';
			position: absolute;
			bottom: 7px;
			right: 110%;
			background: url(../images/content/svg/arrow-6.svg) no-repeat center;
			min-width: 96px;
			min-height: 144px;
			cursor: default;
		}
	}
}


/*===== footer =====*/

.footer {
	background: $black;
	padding-bottom: 40px;

	&__logo-block {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	&__active-page {
		color: $purple;
		margin-left: 48px;
		@extend %transition-1;

		&:hover {
			color: $white-2;
		}
	}

	&__lang-menu {
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
		
	}

	&__item {
		margin-bottom: 10px;
	}

	&__link {
		color: $white-2;
		font-weight: 300;
		@extend %transition-1;

		&:hover {
			color: $purple;
		}
	}

	&__text {
		color: $white-2;
		text-align: right;
		margin-right: 13px;
		@extend %mb35;
	}

	&__menu-social {
		display: flex;
		justify-content: flex-end;

		&_vertical {
			flex-direction: column;
			align-items: flex-end;
			margin-top: -40px;
		}
	}

	&__item-social {
		margin: 13px;
	}

	&__link-social {
		
	}

	&__link-img {

	}
}

.copyright {
	padding-top: 105px;

	&__text {
		color: $white-2;
	}

	&__link {
		color: $purple;
	}
}

@import "partials/media.scss";