<footer class="footer">
	<div class="container">
		<ul class="footer__lang">
			<li class="lang">
				<span>Русский <i class="lang__icon"></i></span>
				<ul class="lang__menu">
					<li class="lang__item"><a href="#" class="lang__link">English</a></li>
					<li class="lang__item"><a href="#" class="lang__link">German</a></li>
				</ul>
			</li>
		</ul>
		<div class="row">
			<div class="col-3">
				<ul class="footer__menu">
					<li class="footer__item"><a href="#" class="footer__link">Дизайн-системы</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Веб сайты</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Банковские системы</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Мобильные приложения</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Webiray VISION</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Webiray Vebinars</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Webiray Line</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Webiray Sport</a></li>
				</ul>
			</div>
			<div class="col-2">
				<ul class="footer__menu">
					<li class="footer__item"><a href="#" class="footer__link">О компании</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Реквизиты</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Партнеры</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Новости</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Стоимость</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Политика конфиденциальности</a></li>
				</ul>
			</div>
			<div class="offset-3 col-3">
				<div class="footer__text text">ООО “Новые решения”</div>
				<ul class="footer__menu-social">
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/email.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/phone-white.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/phone-pink.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/phone-green.svg" alt="" class="footer__link-img"></a></li>
				</ul>
			</div>
			<div class="col-1">
				<ul class="footer__menu-social footer__menu-social_vertical">
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/vk.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/facebook.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/instagram.svg" alt="" class="footer__link-img"></a></li>
					<li class="footer__item-social"><a href="#" class="footer__link-social" target="_blank"><img src="images/footer/youtube.svg" alt="" class="footer__link-img"></a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<div class="copyright__text">© 2019 All rights reserved. <a href="#" class="copyright__link">Webiraylab.com</a></div>
			<div class="copyright__text">Designed by <a href="#" class="copyright__link">Missoff Digital Design Studio</a></div>
		</div>
	</div>
</footer>