<header class="header">
	<div class="container">
		<nav class="header__nav">
			<div class="logo"><img src="images/logo/logotype.svg" alt="" class="logo__img"></div>
			<ul class="header__menu-top">
				<li class="header__item"><a href="#" class="header__link">О компании</a></li>
				<li class="header__item"><a href="#" class="header__link">Реквизиты</a></li>
				<li class="header__item"><a href="#" class="header__link">Стоимость</a></li>
				<li class="header__item"><a href="#" class="header__link">Партнеры</a></li>
				<li class="header__item"><a href="#" class="header__link">Новости</a></li>
				<li class="header__item"><a href="#" class="header__link">Контакты</a></li>
				<li class="lang">
					<span>Русский <i class="lang__icon"></i></span>
					<ul class="lang__menu">
						<li class="lang__item"><a href="#" class="lang__link">English</a></li>
						<li class="lang__item"><a href="#" class="lang__link">German</a></li>
					</ul>
				</li>
			</ul>
			<ul class="header__menu-bottom">
				<li class="header__item">
					<a href="#" class="header__link">Дизайн-системы</a>
					<ul class="header__dropdown">
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-1.svg" alt="" class="header__img-link">Автоматизация въезда Webiray VISION</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-2.svg" alt="" class="header__img-link">Сервис для вебинаров Webiray Vebinars</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-3.svg" alt="" class="header__img-link">Автоматизация Webiray Sport</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-4.svg" alt="" class="header__img-link">Электронная очередь Webiray Line</a></li>
					</ul>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">Веб сайты</a>
					<ul class="header__dropdown">
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-1.svg" alt="" class="header__img-link">Кейс tutSPA</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-2.svg" alt="" class="header__img-link">Кейс XTelecom</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-3.svg" alt="" class="header__img-link">Кейс Мечта</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-4.svg" alt="" class="header__img-link">Кейс Webiray</a></li>
					</ul>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">Мобильные приложения</a>
					<ul class="header__dropdown">
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-5.svg" alt="" class="header__img-link">Кейс The color</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-2.svg" alt="" class="header__img-link">Кейс XTelecom</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-6.svg" alt="" class="header__img-link">Кейс PaysKG</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/product-7.svg" alt="" class="header__img-link">Кейс Kalah</a></li>
					</ul>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">Банковские системы</a>
					<ul class="header__dropdown">
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-5.svg" alt="" class="header__img-link">Интернет-эквайринг</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-6.svg" alt="" class="header__img-link">Торговый эквайринг</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-7.svg" alt="" class="header__img-link">Платежный терминал</a></li>
						<li class="header__item"><a href="#" class="header__link"><img src="images/header/icon-8.svg" alt="" class="header__img-link">Прием платежей</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>