<header class="header">
	<nav class="header__nav">
		<div class="header__top">
			<div class="header__container container">
				<a href="#" class="header__logo logo"><img src="images/logo/logotype.svg" alt="" class="logo__img"></a>
				<ul class="header__menu-top">
					<li class="header__item"><a href="#" class="header__link">О компании</a></li>
					<li class="header__item"><a href="#" class="header__link">Реквизиты</a></li>
					<li class="header__item"><a href="#" class="header__link">Стоимость</a></li>
					<li class="header__item"><a href="#" class="header__link">Партнеры</a></li>
					<li class="header__item"><a href="#" class="header__link">Новости</a></li>
					<li class="header__item"><a href="#" class="header__link">Контакты</a></li>
				</ul>
				<ul class="lang-menu">
					<li class="lang-menu__lang">
						<span class="lang-menu__name">Русский <i class="lang-menu__icon"></i></span>
						<ul class="lang-menu__dropdown">
							<li class="lang-menu__item"><a href="#" class="lang-menu__link">English</a></li>
							<li class="lang-menu__item"><a href="#" class="lang-menu__link">German</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="header__bottom">
			<div class="container">
				<ul class="header__menu-bottom">
					<li class="header__item header__item_drop">
						<a href="#" class="header__link header__link_gray">Дизайн-системы</a>
						<ul class="header__dropdown">
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-1.svg" alt="" class="header__img-dropdown">Автоматизация въезда Webiray VISION</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-2.svg" alt="" class="header__img-dropdown">Сервис для вебинаров Webiray Vebinars</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-3.svg" alt="" class="header__img-dropdown">Автоматизация Webiray Sport</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-4.svg" alt="" class="header__img-dropdown">Электронная очередь Webiray Line</a></li>
						</ul>
					</li>
					<li class="header__item header__item_drop">
						<a href="#" class="header__link header__link_gray">Веб сайты</a>
						<ul class="header__dropdown">
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-1.svg" alt="" class="header__img-dropdown">Кейс tutSPA</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-2.svg" alt="" class="header__img-dropdown">Кейс XTelecom</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-3.svg" alt="" class="header__img-dropdown">Кейс Мечта</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-4.svg" alt="" class="header__img-dropdown">Кейс Webiray</a></li>
						</ul>
					</li>
					<li class="header__item header__item_drop">
						<a href="#" class="header__link header__link_gray">Мобильные приложения</a>
						<ul class="header__dropdown">
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-5.svg" alt="" class="header__img-dropdown">Кейс The color</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-2.svg" alt="" class="header__img-dropdown">Кейс XTelecom</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-6.svg" alt="" class="header__img-dropdown">Кейс PaysKG</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/product-7.svg" alt="" class="header__img-dropdown">Кейс Kalah</a></li>
						</ul>
					</li>
					<li class="header__item header__item_drop">
						<a href="#" class="header__link header__link_gray">Банковские системы</a>
						<ul class="header__dropdown">
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-5.svg" alt="" class="header__img-dropdown">Интернет-эквайринг</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-6.svg" alt="" class="header__img-dropdown">Торговый эквайринг</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-7.svg" alt="" class="header__img-dropdown">Платежный терминал</a></li>
							<li class="header__item-dropdown"><a href="#" class="header__link-dropdown"><img src="images/header/icon-8.svg" alt="" class="header__img-dropdown">Прием платежей</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>